.elementor-10 .elementor-element.elementor-element-74b4374:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-74b4374>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2022/01/bro.jpg");
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-74b4374 .elementor-repeater-item-cbe8986 .elementskit-parallax-graphic {
	transform: rotate(320deg);
	filter: blur(0px);
}

.elementor-10 .elementor-element.elementor-element-74b4374 .elementor-repeater-item-cbe8986.ekit-section-parallax-layer {
	left: 10%;
	top: 10%;
}

.elementor-10 .elementor-element.elementor-element-74b4374 .elementor-repeater-item-cbe8986 {
	opacity: 1;
	z-index: 0;
}

.elementor-10 .elementor-element.elementor-element-d8ef783>.elementor-element-populated {
	padding: 80px 0px 100px 20px;
}

.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-533a6ba>.elementor-widget-container {
	margin: 0px 0px 10px 0px;
}

.elementor-10 .elementor-element.elementor-element-533a6ba {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	color: #ffffff;
}

.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-cba9f61>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
}

.elementor-10 .elementor-element.elementor-element-cba9f61 .elementor-heading-title {
	font-size: 64px;
	font-weight: 800;
	line-height: 74px;
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-b344439>.elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-10 .elementor-element.elementor-element-840e79c .elementor-button {
	background-color: #ff007a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #ffffff;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;
	padding: 21px 55px 21px 55px;
}

.elementor-10 .elementor-element.elementor-element-840e79c .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-840e79c .elementor-button:focus {
	background-color: #d20055;
}

.elementor-10 .elementor-element.elementor-element-e574d29>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-10 .elementor-element.elementor-element-74b4374>.elementor-background-overlay {
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-74b4374 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 150px 0px 0px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-c701876:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-c701876>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f9fafc;
}

.elementor-10 .elementor-element.elementor-element-c701876 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-c701876>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-41e946f.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-41e946f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-background-slideshow {
	border-radius: 3px 3px 3px 3px;
}

.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 20px 50px 0px 15px;
}

.elementor-10 .elementor-element.elementor-element-2b28455>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-2b28455 .title-section-area {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-2b28455 .section-title span {
	color: #5a5a5a;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-2b28455 .section-title {
	color: #3b1d82;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-2b28455 .title-section-area .title-shape svg {
	fill: #3b1d82;
}

.elementor-10 .elementor-element.elementor-element-bcadc1a>.elementor-widget-container {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-bcadc1a {
	color: #5a5a5a;
}

.elementor-10 .elementor-element.elementor-element-318e814 .elementor-button {
	background-color: #ff007a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #ffffff;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;
	padding: 18px 45px 18px 45px;
}

.elementor-10 .elementor-element.elementor-element-318e814 .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-318e814 .elementor-button:focus {
	background-color: #d20055;
}

.elementor-10 .elementor-element.elementor-element-9f69302>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-2013f71 {
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-b25ce21>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 30px;
}

.elementor-10 .elementor-element.elementor-element-b25ce21>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 15px 0px 15px;
}

.elementor-10 .elementor-element.elementor-element-b25ce21>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-fd85a8d .single-intro-text {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-fd85a8d .single-intro-text h3 {
	font-size: 24px;
}

.elementor-10 .elementor-element.elementor-element-aa40d3c .single-intro-text {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-aa40d3c .single-intro-text h3 {
	font-size: 24px;
}

.elementor-10 .elementor-element.elementor-element-91fa378>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 30px;
}

.elementor-10 .elementor-element.elementor-element-91fa378>.elementor-element-populated {
	padding: 0px 15px 0px 15px;
}

.elementor-10 .elementor-element.elementor-element-9348095 .single-intro-text {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-9348095 .single-intro-text h3 {
	font-size: 24px;
}

.elementor-10 .elementor-element.elementor-element-92fd812 .single-intro-text {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-92fd812 .single-intro-text h3 {
	font-size: 24px;
}

.elementor-10 .elementor-element.elementor-element-98c2f34:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-98c2f34>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2018/12/speaker_bg.png");
}

.elementor-10 .elementor-element.elementor-element-98c2f34>.elementor-background-overlay {
	background-image: url("../../2018/12/home_speaker_memphis2.png");
	background-position: center right;
	background-repeat: no-repeat;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-98c2f34 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 85px 0px 30px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-e7c3329>.elementor-widget-container {
	padding: 0px 0px 60px 0px;
}

.elementor-10 .elementor-element.elementor-element-e7c3329 .title-section-area {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-e7c3329 .section-title span {
	color: #5a5a5a;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-e7c3329 .section-title {
	color: #3b1d82;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-e7c3329 .title-section-area .title-shape svg {
	fill: #3b1d82;
}

.elementor-10 .elementor-element.elementor-element-8117a13 {
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-cc981eb>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-233f015>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-85d32b0>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-6fa2624>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-54aa64c {
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-0814811>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-9789913>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-2dd08ac>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-090bd51>.elementor-element-populated {
	padding: 0px 15px 0px 10px;
}

.elementor-10 .elementor-element.elementor-element-8521192:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-8521192>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(100deg, #13007f 61%, #af0387 100%);
}

.elementor-10 .elementor-element.elementor-element-8521192>.elementor-container {
	min-height: 440px;
}

.elementor-10 .elementor-element.elementor-element-8521192 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-8521192>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-0a06dd1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-0a06dd1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2018/12/family.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-0a06dd1>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-0a06dd1>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-64a41e9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: rgba(129, 48, 229, 0);
	background-image: url("../../2018/12/cta_bg.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-element-populated>.elementor-background-overlay {
	opacity: 0;
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 95px 250px 60px 80px;
}

.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-844cab8>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-844cab8 {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-29e6c39>.elementor-widget-container {
	margin: -13px 0px 35px 0px;
}

.elementor-10 .elementor-element.elementor-element-29e6c39 .elementor-heading-title {
	font-size: 36px;
	font-weight: 600;
	line-height: 42px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-0eaa414 {
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-cd2b7bf {
	padding: 100px 0px 100px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-a120daa>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-a0c8512>.elementor-widget-container {
	padding: 0px 0px 40px 0px;
}

.elementor-10 .elementor-element.elementor-element-a0c8512 .ts-schedule .ts-schedule-content .column-title:after {
	width: 0;
}

.elementor-10 .elementor-element.elementor-element-a0c8512 .section-title {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-d300574 .elementor-button {
	background-color: #ff007a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #ffffff;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;
	padding: 21px 55px 21px 55px;
}

.elementor-10 .elementor-element.elementor-element-d300574 .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-d300574 .elementor-button:focus {
	background-color: #d20055;
}

.elementor-10 .elementor-element.elementor-element-df410f9:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-df410f9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2022/01/pricing_img.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-df410f9>.elementor-background-overlay {
	background-color: transparent;
	background-image: linear-gradient(145deg, #321575 0%, #ff057c 100%);
	opacity: 0.85;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-df410f9 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 90px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-41b08a8>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-2bbd676>.elementor-widget-container {
	margin: 0px 0px 60px 0px;
}

.elementor-10 .elementor-element.elementor-element-2bbd676 .title-section-area {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-2bbd676 .section-title span {
	color: #ffffff;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-2bbd676 .section-title {
	color: #ffffff;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-2bbd676 .title-section-area .title-shape svg {
	fill: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-aa9921e {
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-fa5745a:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-fa5745a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #f9fafc;
	background-image: url("../../2018/12/news_memphis2.png");
	background-position: center right;
	background-repeat: no-repeat;
}

.elementor-10 .elementor-element.elementor-element-fa5745a>.elementor-background-overlay {
	background-image: url("../../2018/12/news_memphis1.png");
	background-position: center left;
	background-repeat: no-repeat;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-fa5745a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 40px 0px;
	overflow: visible;
}

.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-3d1ba41.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-3d1ba41.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-3d1ba41>.elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-cf67784>.elementor-widget-container {
	margin: 0px 0px 70px 0px;
}

.elementor-10 .elementor-element.elementor-element-cf67784 .title-section-area {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-cf67784 .section-title span {
	color: #5a5a5a;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-cf67784 .section-title {
	color: #3b1d82;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-cf67784 .title-section-area .title-shape svg {
	fill: #3b1d82;
}

.elementor-10 .elementor-element.elementor-element-1df16dc .post .entry-title a:hover {
	color: #e7015e;
}

.elementor-10 .elementor-element.elementor-element-52e9a7a:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-52e9a7a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2022/01/sponsor_img.webp");
}

.elementor-10 .elementor-element.elementor-element-52e9a7a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 90px 0px 90px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-52e9a7a>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-71cb873>.elementor-element-populated,
.elementor-10 .elementor-element.elementor-element-71cb873>.elementor-element-populated>.elementor-background-overlay,
.elementor-10 .elementor-element.elementor-element-71cb873>.elementor-background-slideshow {
	border-radius: 3px 3px 3px 3px;
}

.elementor-10 .elementor-element.elementor-element-9271c93>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-10 .elementor-element.elementor-element-9271c93 .title-section-area {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-9271c93 .section-title span {
	color: #ffffff;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-9271c93 .section-title {
	color: #ffffff;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-9271c93 .title-section-area .title-shape svg {
	fill: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-7519cd1>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-7519cd1 {
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-21aaaaa>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-21aaaaa {
	padding: 25px 0px 0px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-307ac7a .elementor-button {
	background-color: #ff007a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #ffffff;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;
	padding: 16px 35px 16px 35px;
}

.elementor-10 .elementor-element.elementor-element-307ac7a .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-307ac7a .elementor-button:focus {
	background-color: #d20055;
}

.elementor-10 .elementor-element.elementor-element-307ac7a>.elementor-widget-container {
	margin: 50px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-6453d7fd>.elementor-background-overlay {
	background-image: url("../../2018/12/Direction_memphis1.png");
	background-position: center right;
	background-repeat: no-repeat;
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-6453d7fd {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 100px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-79783d62>.elementor-element-populated {
	padding: 0px 15px 0px 15px;
}

.elementor-10 .elementor-element.elementor-element-2e783288 .title-section-area {
	text-align: left;
}

.elementor-10 .elementor-element.elementor-element-2e783288 .section-title span {
	color: #888888;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-2e783288 .section-title {
	color: #3b1d82;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-2e783288 .title-section-area .title-shape svg {
	fill: #3b1d82;
}

.elementor-widget-tabs .elementor-tab-title,
.elementor-widget-tabs .elementor-tab-title a {
	color: var(--e-global-color-primary);
}

.elementor-widget-tabs .elementor-tab-title.elementor-active,
.elementor-widget-tabs .elementor-tab-title.elementor-active a {
	color: var(--e-global-color-accent);
}

.elementor-widget-tabs .elementor-tab-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-tabs .elementor-tab-content {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title:before,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title:after,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-content,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tabs-content-wrapper {
	border-width: 0px;
}

.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title a {
	color: #888888;
}

.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title.elementor-active,
.elementor-10 .elementor-element.elementor-element-65a09a67 .elementor-tab-title.elementor-active a {
	color: #e7015e;
}

.elementor-bc-flex-widget .elementor-10 .elementor-element.elementor-element-1dd9c8dd.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-1dd9c8dd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-10 .elementor-element.elementor-element-1dd9c8dd>.elementor-element-populated {
	padding: 0px 15px 0px 15px;
}

.elementor-10 .elementor-element.elementor-element-5caed5a4 iframe {
	height: 500px;
}

.elementor-10 .elementor-element.elementor-element-55b37d23:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-55b37d23>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: rgba(12, 0, 3, 0.65);
	background-image: url("../../2022/01/book_seat_img.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-55b37d23>.elementor-background-overlay {
	background-color: rgba(12, 12, 12, 0.73);
	opacity: 1;
	mix-blend-mode: multiply;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-55b37d23 .elementor-background-overlay {
	filter: brightness(0%) contrast(0%) saturate(0%) blur(0.65px) hue-rotate(0deg);
}

.elementor-10 .elementor-element.elementor-element-55b37d23 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 0px 200px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-5e844582 .title-section-area {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-5e844582 .section-title span {
	color: #ffffff;
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
}

.elementor-10 .elementor-element.elementor-element-5e844582 .section-title {
	color: #ffffff;
	font-size: 36px;
	font-weight: 800;
}

.elementor-10 .elementor-element.elementor-element-5e844582 .title-section-area .title-shape svg {
	fill: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-4cafb6fa .elementor-button {
	background-color: #ff007a;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	fill: #ffffff;
	color: #ffffff;
	border-radius: 3px 3px 3px 3px;
	padding: 21px 55px 21px 55px;
}

.elementor-10 .elementor-element.elementor-element-4cafb6fa .elementor-button:hover,
.elementor-10 .elementor-element.elementor-element-4cafb6fa .elementor-button:focus {
	background-color: #d20055;
}

.elementor-10 .elementor-element.elementor-element-4cafb6fa>.elementor-widget-container {
	margin: 30px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-26d82168 {
	margin-top: -110px;
	margin-bottom: -232px;
	padding: 0px 0px 0px 0px;
	overflow: visible;
}

.elementor-10 .elementor-element.elementor-element-64acc01a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-10 .elementor-element.elementor-element-64acc01a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2019/01/newsletter_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-10 .elementor-element.elementor-element-64acc01a>.elementor-element-populated>.elementor-background-overlay {
	opacity: 1;
}

.elementor-10 .elementor-element.elementor-element-64acc01a>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 250px 60px 250px;
}

.elementor-10 .elementor-element.elementor-element-64acc01a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-10 .elementor-element.elementor-element-4cf4f99d {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-4cf4f99d .elementor-heading-title {
	font-family: "Roboto", Sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.4px;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-50f1519e>.elementor-widget-container {
	margin: 0px 0px 55px 0px;
}

.elementor-10 .elementor-element.elementor-element-50f1519e {
	text-align: center;
}

.elementor-10 .elementor-element.elementor-element-50f1519e .elementor-heading-title {
	font-family: "Raleway", Sans-serif;
	font-size: 36px;
	font-weight: 800;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-2adcf5ce>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-10 .elementor-element.elementor-element-d8ef783>.elementor-element-populated {
		padding: 0px 0px 100px 30px;
	}

	.elementor-10 .elementor-element.elementor-element-533a6ba {
		font-size: 18px;
	}

	.elementor-10 .elementor-element.elementor-element-cba9f61 .elementor-heading-title {
		font-size: 48px;
	}

	.elementor-10 .elementor-element.elementor-element-2479418>.elementor-widget-container {
		margin: 65px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-2479418 {
		text-align: right;
	}

	.elementor-10 .elementor-element.elementor-element-74b4374 {
		padding: 130px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-c701876 {
		padding: 80px 0px 80px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 40px 0px 40px;
	}

	.elementor-10 .elementor-element.elementor-element-2b28455>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-9f69302>.elementor-element-populated {
		padding: 30px 40px 0px 40px;
	}

	.elementor-10 .elementor-element.elementor-element-b25ce21>.elementor-element-populated {
		padding: 0px 15px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-91fa378>.elementor-element-populated {
		padding: 0px 0px 0px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-98c2f34 {
		padding: 80px 0px 20px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-e7c3329>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-0a06dd1>.elementor-element-populated {
		padding: 150px 0px 150px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-cd2b7bf {
		padding: 80px 0px 80px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-df410f9 {
		padding: 80px 0px 80px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-c56fdfd>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-f09c6fc>.elementor-element-populated {
		margin: 0px 0px 30px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-fa5745a {
		padding: 80px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-3d1ba41>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-52e9a7a {
		padding: 80px 0px 80px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-6453d7fd {
		padding: 50px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-50f1519e .elementor-heading-title {
		font-size: 30px;
	}
}

@media(max-width:767px) {
	.elementor-10 .elementor-element.elementor-element-d8ef783>.elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-10 .elementor-element.elementor-element-533a6ba {
		font-size: 18px;
	}

	.elementor-10 .elementor-element.elementor-element-cba9f61>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-cba9f61 .elementor-heading-title {
		font-size: 30px;
		line-height: 40px;
	}

	.elementor-10 .elementor-element.elementor-element-e574d29>.elementor-element-populated {
		margin: 50px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-10 .elementor-element.elementor-element-74b4374 {
		padding: 120px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-c701876 {
		padding: 50px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-41e946f>.elementor-element-populated {
		padding: 0px 15px 30px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-2b28455 .title-section-area {
		text-align: center;
	}

	.elementor-10 .elementor-element.elementor-element-2b28455 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-bcadc1a>.elementor-widget-container {
		margin: -20px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-bcadc1a {
		text-align: center;
	}

	.elementor-10 .elementor-element.elementor-element-9f69302>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-b25ce21>.elementor-element-populated {
		padding: 0px 15px 30px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-91fa378>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-98c2f34 {
		padding: 50px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-339f754>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-e7c3329>.elementor-widget-container {
		margin: 0px 0px -40px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-e7c3329 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-6fa2624>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-090bd51>.elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-8521192 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-0a06dd1>.elementor-element-populated {
		padding: 200px 0px 200px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-64a41e9>.elementor-element-populated {
		padding: 50px 15px 50px 30px;
	}

	.elementor-10 .elementor-element.elementor-element-cd2b7bf {
		padding: 50px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-a0c8512>.elementor-widget-container {
		padding: 0px 0px 20px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-df410f9 {
		padding: 80px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-2bbd676 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-c56fdfd>.elementor-element-populated {
		padding: 0px 15px 30px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-f09c6fc>.elementor-element-populated {
		padding: 0px 15px 30px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-c14fed5>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-fa5745a {
		padding: 50px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-3d1ba41>.elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}

	.elementor-10 .elementor-element.elementor-element-cf67784>.elementor-widget-container {
		margin: 0px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-cf67784 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-52e9a7a {
		padding: 50px 0px 50px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-9271c93>.elementor-widget-container {
		margin: 0px 0px 40px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-9271c93 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-5e66db1>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-2bb645e>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-db034ad>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-85857e1>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-0d0ba32>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-21aaaaa {
		padding: 0px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-f828833>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-e59f1ce>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-7516593>.elementor-widget-container {
		padding: 0px 0px 30px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-2e783288 .section-title {
		font-size: 30px;
	}

	.elementor-10 .elementor-element.elementor-element-1dd9c8dd>.elementor-element-populated {
		padding: 50px 0px 0px 0px;
	}

	.elementor-10 .elementor-element.elementor-element-64acc01a>.elementor-element-populated {
		padding: 50px 20px 30px 20px;
	}

	.elementor-10 .elementor-element.elementor-element-50f1519e .elementor-heading-title {
		font-size: 30px;
	}
}

@media(min-width:768px) {
	.elementor-10 .elementor-element.elementor-element-41e946f {
		width: 33%;
	}

	.elementor-10 .elementor-element.elementor-element-9f69302 {
		width: 67%;
	}

	.elementor-10 .elementor-element.elementor-element-79783d62 {
		width: 41.666666%;
	}

	.elementor-10 .elementor-element.elementor-element-1dd9c8dd {
		width: 58.333%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-10 .elementor-element.elementor-element-41e946f {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-9f69302 {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-cc981eb {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-233f015 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-85d32b0 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-6fa2624 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-0814811 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-9789913 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-2dd08ac {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-090bd51 {
		width: 50%;
	}

	.elementor-10 .elementor-element.elementor-element-0a06dd1 {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-64a41e9 {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-c56fdfd {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-f09c6fc {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-c14fed5 {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-79783d62 {
		width: 100%;
	}

	.elementor-10 .elementor-element.elementor-element-1dd9c8dd {
		width: 100%;
	}
}